{% extends "layout.html" %}
{% block title %}Сайты{% endblock %}
{% block content %}
<div class="table-responsive">
  <table class="table table-bordered table-hover text-nowrap" data-test="urls">
    <thead>
      <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Последняя проверка</th>
        <th>Код ответа</th>
      </tr>
    </thead>
    <tbody>
      {% for url in urls %}
      <tr>
        <td>{{ url.id }}</td>
        <td>
          <a href="{{ url_for('urls_show', id=url.id) }}">
            {{ url.name }}
          </a>
        </td>
        <td>{{ url.last_check.date() if url.last_check if not None }}</td>
        <td></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
