{% extends "layout.html" %}
{% block title %}Сайты{% endblock %}
{% block content %}
<div class="table-responsive">
  <table class="table table-bordered table-hover text-nowrap" data-test="urls">
    <thead>
      <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Последняя проверка</th>
        <th>Код ответа</th>
      </tr>
    </thead>
    <tbody>
      {% for url in urls %}
      <tr>
        <td>{{ url.url.id }}</td>
        <td>
          <a href="{{ url_for('urls_show', id=url.url.id) }}">
            {{ url.url.name }}
          </a>
        </td>
        <td>{{ url.url_check.created_at.date() if url.url_check.created_at }}</td>
        <td>{{ url.url_check.status_code if url.url_check.status_code }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
